<html>
<head>
    <title>v-if directives</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="margin-top: 10px;">
<div class="container">
    <template v-if="!message">
        <h1>You must send message for help!</h1>
        <p>Dispatch a messenger immediately!</p>
        <p>To nearly kingdom of Hearts!</p>
    </template>
    <form class="form-inline">
            <input type="text" class="form-control" v-model="message">
            <button v-show="message" class="btn-primary">Send message to allies for help!</button>
    </form>
</div>
<script src="../js/vue.js"></script>
<script>
new Vue({
    el: '.container',
    data: function() {
        return {
            message: 'Deadman walking!'
        }
    }
})
</script>
</body>
</html>