<html>
<head>
        <title>Customer Filter</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.js"></script>
</head>
<body>
    <div class="container">
    <h1>People of Gaul</h1>
    <ul class="list-group">
        <li v-for="people in peoples" class="list-group-item">
            {{people.name}} {{people.age}}
        </li>
    </ul>
    <h1>Old people of Gaul</h1>
    <ul class="list-group">
        <li v-for="people in peoples" class="list-group-item" v-if="people.age > 55">
            {{people.name}} {{people.age}}
        </li>
    </ul>
    </pre>
    </div>
<script>
new Vue({
    el: '.container',
    data: function(){
        return {
            peoples: [
                {
                    name: "Orcas",
                    age: 31
                },
                {
                    name: "Tom Ridder",
                    age: 32
                },
                {
                    name: "Alex",
                    age: 56
                },
                {
                    name: "Majesty",
                    age: 62
                },
                {
                    name: "Julius Caesar",
                    age: 80
                },
                {
                    name: "Severnus",
                    age: 25
                },
            ]
        }
    }
})
</script>
</body>
</html>